.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 34px;
}

.header__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.header__logo-icon {
  width: 32px;
  height: 32px;
}

.header__logo-text {
  width: 254px;
  height: auto;
}
