.lead {
  max-width: 984px;
  margin: 91px auto 0;
}

.lead__title {
  max-width: 793px;
  margin: 0 auto;
  font-size: 96px;
  line-height: 1.04;
  font-weight: 900;
  text-align: center;
}

.lead__subtitle {
  max-width: 720px;
  margin: 32px auto 64px;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}

.lead__image {
  width: 100%;
  display: block;
}

@media screen and (max-width: 1024px) {
  .lead {
    max-width: 768px;
  }

  .lead__title {
    font-size: 75px;
  }
}

@media screen and (max-width: 544px) {
  .lead {
    margin-top: 50px;
  }

  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }

  .lead__subtitle {
    max-width: 288px;
    margin: 16px auto 40px;
    font-size: 16px;
    line-height: 1.25;
  }
}
