.place {
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-areas:
    "title website"
    "media paragraphs";
  column-gap: 40px;
  row-gap: 48px;
  margin: 0 0 80px;
  align-items: start;
}

.place:last-child {
  margin-bottom: 0;
}

.place__title {
  grid-area: title;
  margin: 0;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
}

.place__website {
  grid-area: website;
  align-self: end;
}

.place__url-heading {
  margin: 0 0 8px;
  color: #aaaaaa;
  font-size: 12px;
  line-height: 1;
  letter-spacing: 0.12em;
  text-transform: uppercase;
}

.place__artist {
  margin: 0;
  font-size: 18px;
  line-height: 1.22;
}

.place__media {
  grid-area: media;
}

.place__image {
  width: 100%;
  display: block;
  transition:
    opacity 0.3s ease,
    box-shadow 0.3s ease;
}

.place__image:hover {
  opacity: 0.8;
  box-shadow: 10px 10px 25px 0px #00000080;
}

.place__button {
  margin-top: 48px;
}

.place__paragraphs {
  grid-area: paragraphs;
}

.place__paragraph {
  margin: 0 0 25px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.63;
  letter-spacing: 0;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 340px 1fr;
    column-gap: 28px;
    row-gap: 48px;
    margin-bottom: 72px;
  }

  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraphs"
      "button";
    row-gap: 30px;
    margin-bottom: 50px;
  }

  .place__title {
    padding: 0 16px;
    font-size: 32px;
    line-height: 1.09;
  }

  .place__website {
    padding: 0 16px;
  }

  .place__media {
    display: contents;
  }

  .place__image {
    grid-area: image;
  }

  .place__button {
    grid-area: button;
    margin: 0 16px;
  }

  .place__paragraphs {
    grid-area: paragraphs;
    padding: 0 16px;
  }

  .place__paragraph {
    font-size: 16px;
    line-height: 1.63;
  }
}
